.signupForm {
    background-color: #F6FBEC;
}

.signup {
    padding: 60px 0;
}

.signup form {
    margin: 0 auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
}

.email {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.username {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.password {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.signupClick {
    width: 50%;
    align-self: center;
}
