/* TODO Add site wide styles */
* {
    box-sizing: border-box;
    background-color: #F6FBEC;
    color: #43493A;
    font-family: "Roboto", sans-serif;
}

h1 h2 h3 h4 {
    font-family: 'Lato', sans-serif;
}

.root {
    display: flex;

}

.gllinks {
    display: flex;
    justify-content: space-around;
    bottom: 0px;
    list-style-type: none;
}
