.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.petsLink {
    align-self: center;
    position: absolute;
    text-decoration: none;
    background-color: #F6FBEC;
    padding: 10px;
    margin-left: 40px;
}
