.navBar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style: none;
}

.sessionLinks {
    display: flex;
}

.navLogin {
    margin: 20px;
    padding-left: 20px;
}
