.navWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style: none;
    width: 100%;
    max-width: 1080px;
}

.userLinks {
    margin: 20px;
    padding-right: 60px;
}

.logo {
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    height: 7%;
    padding: 5px;

    /* background-color: transparent; */
}

.sessionLinks {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    right: 5vw;
    top: 5vw;
    background-color: transparent;

}

.profileButton {
    width: 30px;
}
