.navBar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style: none;
}

.userLinks {
    margin: 20px;
    padding-right: 60px;
}

.logo {
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 7%;
}
